.frame-blackjack {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1100px;
  height: 700px;
  background-color: #0a1e33;
  border: solid 4px #ffffff;
  color: #ffffff;

  .relative-blackjack {
    position: relative;
    height: 100%;
    width: 100%;
    padding-top: 25px;
    overflow: hidden;

    .night {
      transform: rotateZ(45deg) scale(1.5);
    }

    .container-game {
      display: flex;
      flex-direction: column;
      gap: 40px;

      .container-cards {
        display: grid;
        grid-template-columns: 2fr 1fr;
        z-index: 20;

        .left {
          position: relative;
          height: 400px;
          background-color: #00000033;
          border-radius: 30px;
          margin: 0 20px;
        }

        .right {
          margin-left: 50px;
        }

        .left,
        .right {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
  
          .cardDealer {
            height: 150px;
      
            .card-blackjack {
              animation: 0.4s ease-out slideinTop;
  
              &:nth-child(3) {margin-left: -35px}
              &:nth-child(4) {transform: rotate(4deg); margin-left: -50px}
              &:nth-child(5) {transform: rotate(356deg); margin-left: -70px}
              &:nth-child(6) {transform: rotate(1deg); margin-left: -40px}
              &:nth-child(7) {margin-left: -35px}
            }
      
            .switch-card {
              position: absolute;
              transform: rotate(2deg);
              transition: all .4s;
              margin-left: -30px;
              margin-right: 10px;
              width: 100px;
              perspective: 600px;
              z-index: 5;
      
              .card-flip {
                width: 100%;
                height: 100%;
                position: relative;
                transition: transform 0.4s;
                transform-style: preserve-3d;
      
                &.is-returned {
                  transform: rotateY(180deg);
                }
      
                .card-face {
                  position: absolute;
                  width: 100px;
                  backface-visibility: hidden;
                  z-index: 5;
                  animation: 0.4s ease-out slideinTop;
      
                  &.front {
                    transform: rotateY(180deg);
                  }
                }
              }
            }
          }
      
          .cardPlayer {
            height: 150px;
      
            .card-blackjack {
              top: 55%;
              animation: 0.4s ease-out slideinBottom;

              &:nth-child(1) {transform: rotate(358deg)}
              &:nth-child(2) {transform: rotate(358deg); margin-left: -50px}
              &:nth-child(3) {transform: rotate(3deg); margin-left: -59px}
              &:nth-child(4) {transform: rotate(3deg); margin-left: -80px}
              &:nth-child(5) {transform: rotate(6deg); margin-left: -100px}
              &:nth-child(6) {margin-left: -115px}
              &:nth-child(7) {transform: rotate(3deg); margin-left: -120px}
            }
          }
      
          .card-blackjack {
            position: absolute;
            transition: all .4s;
            width: 100px;
            margin-right: 10px;
            z-index: 5;
            box-shadow: rgb(20 74 82 / 32%) 0px 7px 29px 0px;
  
            &:first-child {
              z-index: 4 !important;
            }
          }
  
          .container-points {
            display: flex;
            align-items: center;
            gap: 3rem;
            z-index: 20;
  
            div {
              display: flex;
              justify-content: center;
              align-items: center;
              height: 75px;
              width: 75px;
              border-radius: 50%;
              background-color: #00000033;
              font-size: 30px;
              font-weight: bold;
            }
  
            p {
              font-size: 30px;
              font-weight: bold;
            }
          }
        }
      }

      .container-action {
        z-index: 20;
        display: grid;
        grid-template-columns: 90px 90px 90px;
        justify-content: center;
        gap: 20px;
      }

      .container-info {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        .container-hand {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          z-index: 20;
    
          .hand {
            position: relative;
            background-color: #0a1e33;
            border-radius: 43%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            font-weight: bold;
            animation: 2s ease-out opacityBorderBetBlackJack infinite;
    
            &.pairs {
              height: 60px;
              width: 60px;
              margin-right: -30px;
              z-index: 1;

              p {
                position: absolute;
                top: 20%;
                left: 30%;
                transform: translate(-50%, -50%) rotate(270deg);
              }

              .container-jeton {
                top: 55%;
                left: 5%;
                transform: translate(-50%, -50%) scale(0.4);

                .jeton {

                  div {
                    top: 45%;
                  }
                }
              }
            }
    
            &.main {
              height: 80px;
              width: 80px;
              font-size: 25px;
              z-index: 3;

              .container-jeton {
                top: 56%;
                left: 49%;
                transform: translate(-50%, -50%) scale(0.55);

                .jeton {

                  div {
                    top: 43%;
                  }
                }
              }

              &.disabled {
                pointer-events: none;
              }
            }
    
            &.combo {
              height: 60px;
              width: 60px;
              margin-left: -30px;
              z-index: 1;

              p {
                position: absolute;
                top: 0%;
                right: 10%;
                transform: rotate(90deg);
              }

              .container-jeton {
                top: 55%;
                left: 95%;
                transform: translate(-50%, -50%) scale(0.4);

                .jeton {

                  div {
                    top: 45%;
                  }
                }
              }
            }

            .container-jeton {
              position: absolute;
              
              .jeton {
                animation: 0.4s ease-out slideJetonBlackJack;
                position: relative;

                img {
                  &.winSideBet {
                    animation: 1s ease-out winSideBet infinite;
                  }
                }
  
                div {
                  position: absolute;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  font-size: 60px;
                  color: #fff;
                  text-shadow: 2px 2px 4px #000000;
                }
  
                &.exit-jeton {
                  animation: 0.4s ease-out exitJetonBlackJack;
                }
              }

            }
          }
        }

        .container-secondary-action {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 30px;

          .restart-icon {
            transform: rotate(115deg);
            width: 35px;
            cursor: pointer;
            transition: all .4s;
  
            &:hover {
              transform: rotate(160deg);
            }
          }

          .double, .divide {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40px;
            width: 40px;
            font-weight: bold;
            font-size: 30px;
            color: #fff;
            border-radius: 50%;
            border: solid 2px #fff;
            background-color: #0a1e33;
            cursor: pointer;
            transition: all .4s;

            fa-icon {
              display: flex;
              justify-content: center;
              align-items: center;
              transform: rotate(90deg);
            }

            &:hover {
              color: #0a1e33;
              background-color: #fff;
            }
          }
        }
      }
    }

    .container-bet {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 100;
      padding: 100vw;
      background-color: #0000005c;
      display: flex;
      align-items: center;
      gap: 2rem;

      .container {
        width: 250px !important;

        &:hover {
          width: 220px !important;
        }
      }
    }
  }
}

/*------------ANIMATION------------*/

@keyframes explosion {
  0% {
    top: 100%;
  }
  33%, 100% {
    top: -50%;
  }
}

@keyframes slideinTop {
  from {
    transform: translate(500%, -600%);
  }

  to {
    transform: translate(0, 0);
  }
}

@keyframes slideinBottom {
  from {
    transform: translate(-500%, 600%);
  }

  to {
    transform: translate(0, 0);
  }
}

@keyframes opacityBorderBetBlackJack {
  0%,
  100% {
    border: 2px solid #ffffff;
    color: #ffffff;
  }
  40% {
    border: 2px solid #ffffff50;
    color: #ffffff50;
  }
}

@keyframes slideJetonBlackJack {
  from {
    transform: translate(0, 1000%);
  }

  to {
    transform: translate(0, 0);
  }
}

@keyframes exitJetonBlackJack {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(0, 1000%);
  }
}

@keyframes winSideBet {
  0%,
  100% {
    filter: drop-shadow(-3px 3px 15px #ffffff00);
  }
  50% {
    filter: drop-shadow(-3px 3px 15px #fff);
  }
}
