<div class="frame-blackjack">
  <div class="relative-blackjack">
      <div class="container-game">
        <div class="container-cards">
          <div class="left">
            <div class="cardDealer">
              <ng-container *ngFor="let cardDealer of cardsDealer, let index = index">
                <img *ngIf="!cardDealer.isReturned" class="card-blackjack" [src]="cardDealer.path" [ngStyle]="{left: (index + 1 * 4) * 12 - cardsDealer.length * 5 + '%'}">
                <div *ngIf="cardDealer.isReturned" class="switch-card" [ngStyle]="{left: (index + 1 * 4) * 12 - cardsDealer.length * 5 + '%'}">
                  <div #returnedCardContainer class="card-flip">
                    <img src="/assets/images/cartes/Back-Card.png" class="card-face">
                    <img #returnedCard class="card-face front">
                  </div>
                </div>
              </ng-container>
            </div>
            <div class="cardPlayer">
              <img *ngFor="let cardPlayer of cardsPlayer, let index = index" class="card-blackjack" [src]="cardPlayer.path" [ngStyle]="{left: (index + 1 * 4) * 12 - cardsPlayer.length * 5 + '%'}">
            </div>
          </div>
          <div class="right">
            <div class="container-points">
              <div>{{ nbDealerElement }}</div>
              <p>Croupier</p>
            </div>
            <div class="container-points">
              <div>{{ nbPlayerElement }}</div>
              <p>Joueur</p>
            </div>
          </div>
        </div>

        <div class="container-action">
          <button class="button" [ngClass]="{'visible': displayHitButton, 'hidden': !displayHitButton}" (click)="hit()">Tirer</button>
          <button class="button" [disabled]="!activeBetButton" [ngClass]="{'visible': displayBetButton, 'hidden': !displayBetButton}" (click)="bet()">Miser</button>
          <button class="button" [ngClass]="{'visible': displayStayButton, 'hidden': !displayStayButton}" (click)="stay()">Rester</button>
        </div>

        <div class="container-info">
          <div class="container-chips">
            <p class="chips">{{ nbChips }}</p>
            <img class="coin" src="./assets/images/coin.png" alt="coins" />
            <p *ngIf="displayAddChips" class="add-chips">+{{ addChips }}</p>
          </div>
          <div class="container-hand" [ngClass]="{'disabled': activeBetButton}">
            <div class="hand pairs" (click)="setHand(1)">
              <p>Paires</p>
              <div *ngIf="displayPairsJeton" class="container-jeton">
                <div #pairsJeton class="jeton">
                  <img [ngClass]="{'winSideBet': winPairs}" src="/assets/images/jeton.png">
                  <div>{{ betPairs | tokenFormat }}</div>
                </div>
              </div>
            </div>
            <div class="hand main" (click)="setHand(2)">
              Main
              <div *ngIf="displayMainJeton" class="container-jeton">
                <div #mainJeton class="jeton">
                  <img src="/assets/images/jeton.png">
                  <div>{{ betMain | tokenFormat }}</div>
                </div>
              </div>
            </div>
            <div class="hand combo" (click)="setHand(3)">
              <p>21+3</p>
              <div *ngIf="displayComboJeton" class="container-jeton">
                <div #comboJeton class="jeton">
                  <img [ngClass]="{'winSideBet': winCombo}" src="/assets/images/jeton.png">
                  <div>{{ betCombo | tokenFormat }}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="container-secondary-action">
            <img [ngClass]="{'visible': displayRestartButton, 'hidden': !displayRestartButton}" (click)="restart()" class="restart-icon" src="/assets/images/restart.png">
            <div [ngClass]="{'visible': displayDoubleButton, 'hidden': !displayDoubleButton}" (click)="double()" class="double">
              <div>x2</div>
            </div>
            <div [ngClass]="{'visible': displayDivideButton, 'hidden': !displayDivideButton}" (click)="divide()" class="divide">
              <fa-icon [icon]="faSort"></fa-icon>
            </div>
          </div>
        </div>
      </div>

      <div class="container-bet" [ngClass]="{'visible': displayContainerBet, 'hidden': !displayContainerBet}" (keyup.enter)="checkBet()">
        <div class="container">
          <span class="next" (click)="nextNum()"></span>
          <span class="prev" (click)="prevNum()"></span>
          <input #nbBet class="nbBet" type="number" value="0" min="0" [max]="nbChips" (input)="maxBet()"/>
        </div>
        <button class="button" (click)="checkBet()">✔</button>
      </div>

    </div>
</div>
