<div class="menu" #menu>
  <div #hamburger class="hamburger" (mouseenter)="onMenuExpanded()">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
  <div
    class="menu-inner"
    (mouseenter)="onMenuExpanded()"
    (mouseleave)="outMenuExpanded()"
  >
    <ul>
      <li routerLink="/">
        <a
          ><fa-icon class="icon-menu" [icon]="faSatelliteDish"></fa-icon
          >Accueil</a
        >
      </li>
      <li routerLink="/take-off">
        <a><fa-icon class="icon-menu" [icon]="faRocket"></fa-icon>Take-Off</a>
      </li>
      <!-- <li routerLink="/roulette">
        <a><fa-icon class="icon-menu" [icon]="faMeteor"></fa-icon>Roulette</a>
      </li> -->
      <li routerLink="/blackjack">
        <a
          ><fa-icon class="icon-menu" [icon]="faSatellite"></fa-icon
          >BlackJack</a
        >
      </li>
      <li routerLink="/classement">
        <a><fa-icon class="icon-menu" [icon]="faMedal"></fa-icon>Classement</a>
      </li>
      <li routerLink="/compte">
        <a
          ><fa-icon class="icon-menu" [icon]="faUserAstronaut"></fa-icon
          >Compte</a
        >
      </li>
    </ul>
    <div class="music">
      <audio
        #audioPlayer
        [volume]="volume"
        preload="auto"
        src="/assets/musics/All_Night.mp3"
        (ended)="nextAudio()"
      ></audio>
      <fa-icon
        (click)="playAudio()"
        class="icon-music"
        [icon]="faStatut"
      ></fa-icon>
      <fa-icon
        (click)="upVolume()"
        class="icon-music"
        [icon]="faVolumeUp"
      ></fa-icon>
      <fa-icon
        (click)="downVolume()"
        class="icon-music"
        [icon]="faVolumeDown"
      ></fa-icon>
      <fa-icon
        (click)="nextAudio()"
        class="icon-music"
        [icon]="faForward"
      ></fa-icon>
    </div>
  </div>
  <svg version="1.1" #blob class="blob">
    <path
      #blobPath
      class="blob-path"
      d="M60,500H0V0h60c0,0,20,172,20,250S60,900,60,500z"
    />
  </svg>
</div>
