.menu {
  z-index: 50;
  height: 100%;
  position: fixed;
  background-color: #405871;
  width: 300px;
  transition: 1000ms all cubic-bezier(0.19, 1, 0.22, 1);
  transform: translateX(-100%);
  left: 60px;

  &.expanded {
    transform: translateX(0%);
    left: 0px;
  }

  .hamburger {
    right: 20px;
    position: absolute;
    width: 20px;
    height: 20px;
    margin-top: -10px;

    .line {
      width: 100%;
      height: 4px;
      background-color: #fff;
      position: absolute;

      &:nth-child(2) {
        top: 50%;
        margin-top: -2px;
      }

      &:nth-child(3) {
        bottom: 0;
      }
    }
  }

  .menu-inner {
    width: 100%;
    height: 100%;
    position: relative;

    ul {
      padding: 0;
      list-style: none;
      width: 80%;
      margin-left: 10%;
      position: absolute;
      top: 10px;

      li {
        padding: 20px 0;

        a {
          color: #fff;
          font-size: 25px;
          font-weight: bold;
          text-decoration: none;
          transition-duration: 0.2s;

          .icon-menu {
            margin-right: 20px;
            font-size: 25px;
          }

          &:hover {
            color: #0a1e33;
            font-size: 23px;
          }
        }
      }
    }
  }

  .music {
    width: 63%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-60%, -50%);
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;

    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    border-radius: 90px;

    .icon-music {
      color: #ffffff;
      cursor: pointer;
      transition: 0.3s;
      line-height: .5;

      &:hover {
        color: #ffffffd7;
      }
    }
  }

  .blob {
    top: 0;
    z-index: -1;
    right: 60px;
    transform: translateX(100%);
    height: 100%;
    position: absolute;

    .blob-path {
      height: 100%;
      fill: #405871;
    }
  }
}
