.container-ranking {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 650px;
  height: 500px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  animation: fadeIn .5s forwards;

  .flex-ranking {
    width: 100%;
    height: 500px;
    color: #000000;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    .image-ranking {
      position: absolute;
      top: -130px;
      width: 200px;
    }

    .title-ranking {
      font-weight: bold;
      font-size: 70px;
      margin-top: 35px;
      margin-bottom: 0;
    }

    .grid-ranking {
      height: 325px;
      width: 90%;
      border: solid 4px #0a1e33;
      border-radius: 20px;
      display: grid;
      align-items: center;
      justify-items: center;
      grid-template-columns: 45px auto auto 40px;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
      padding: 10px;

      .item-grid-ranking {
        color: #000000;
        font-weight: bold;
        font-size: 35px;
        text-align: center;
        margin: 0;

        &.gold-medal {
          color: #e3ba27;
        }

        &.silver-medal {
          color: #a09d9d;
        }

        &.bronze-medal {
          color: #9c4915;
        }
      }

      .icon-medal {
        width: 45px;
      }

      .chips-ranking {
        width: 37px;
      }

      .gold-medal-animation {
        animation: gold_medal 2s infinite;
      }
    }
  }
}

/*------------ANIMATION------------*/

@keyframes gold_medal {
  0%,
  100% {
    transform: rotate(0deg);
  }

  33% {
    transform: rotate(10deg) scale(1.1);
  }

  66% {
    transform: rotate(-10deg) scale(1.1);
  }
}
