<div *ngIf="isLoading" class="container-ranking">
  <div class="flex-ranking">
    <img
      class="image-ranking"
      src="/assets/images/trophy.gif"
      alt="icon_trophy"
    />
    <h1 class="title-ranking">Classement</h1>
    <div class="grid-ranking">
      <ng-container *ngFor="let user of usersList; index as i">
        <img
          *ngIf="i === 0"
          class="item-grid-ranking icon-medal gold-medal-animation"
          src="/assets/images/gold_medal.png"
          alt="gold_medal"
        />
        <img
          *ngIf="i === 1"
          class="item-grid-ranking icon-medal"
          src="/assets/images/silver_medal.png"
          alt="silver_medal"
        />
        <img
          *ngIf="i === 2"
          class="item-grid-ranking icon-medal"
          src="/assets/images/bronze_medal.png"
          alt="bronze_medal"
        />
        <p *ngIf="i === 3 || i === 4" class="item-grid-ranking">{{ i + 1 }}</p>

        <p
          class="item-grid-ranking"
          [ngClass]="{
            'gold-medal': i === 0,
            'silver-medal': i === 1,
            'bronze-medal': i === 2
          }"
        >
          {{ user.username }}
        </p>

        <p class="item-grid-ranking">{{ user.chips }}</p>
        <img class="chips-ranking" src="/assets/images/coin.png" alt="coins" />
      </ng-container>
    </div>
  </div>
</div>
