<div *ngIf="isLoading" class="frame-take-off">
  <div class="game">
    <img *ngIf="displaySpaceStation" class="spacestation" src="./assets/images/spacestation.jpg" alt="spacestation" />
    <img *ngIf="displayRocket" class="rocket" src="./assets/images/rocket.gif" alt="rocket" />
    <img *ngIf="displayExplosion" class="explosion" src="./assets/images/explosion.gif" alt="explosion" />
    <img *ngIf="displayAstronaut" class="astronaut" src="./assets/images/astronaut.gif" alt="astronaut" />
    <p *ngIf="displayCounter" class="counter">{{ counter }}x</p>
  </div>
  <div class="overlay">
    <div class="category">
      <h1>Solde</h1>
      <div class="container-chips">
        <p class="chips">{{ nbChips }}</p>
        <img class="coin" src="./assets/images/coin.png" alt="coins" />
        <p *ngIf="displayAddChips" class="add-chips">+{{ addChips }}</p>
      </div>
    </div>
    <div class="separation"></div>
    <div class="category">
      <h1>Mise</h1>
      <div class="bet">
        <div class="container">
          <span class="next" (click)="nextNum()"></span>
          <span class="prev" (click)="prevNum()"></span>
          <input #nbBet class="nbBet" type="number" value="0" min="0" [max]="nbChips" (input)="maxBet()" />
        </div>
        <button class="button" [disabled]="blockAllInButton" (click)="allIn()">All-In</button>
      </div>
      <button class="button betButton" [ngClass]="{ 'hidden': !visibilityButtonAction }" (click)="action()">{{ textButtonAction }}</button>
    </div>
    <div class="separation"></div>
    <div class="category">
      <h1>Historique</h1>
      <div #historical class="historical">
        <p *ngFor="let historical of historicalList">{{ historical }}x</p>
      </div>
    </div>
  </div>
</div>
