.frame-take-off {
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1100px;
  height: 700px;
  border: solid 4px #ffffff;
  opacity: 0;
  animation: fadeIn 1s forwards;

  .game {
    height: 60%;
    overflow: hidden;
    background-color: #0033aa;

    .spacestation {
      width: 100%;
      margin-top: -33px;
      opacity: 0;
      animation: fadeIn 1s forwards;
    }

    .rocket {
      width: 100%;
      margin-top: -170px;
      opacity: 0;
      animation: fadeIn 1s forwards;
    }

    .astronaut {
      width: 100%;
      margin-top: -170px;
    }

    .counter {
      position: absolute;
      top: 14%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #ff0000;
      font-size: 90px;
      font-weight: bold;
      text-shadow: #000 7px 5px 8px;
      z-index: 3;
      font-family: "Montserrat", sans-serif;
    }

    .explosion {
      position: absolute;
      z-index: 2;
      top: 32%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .overlay {
    height: 41%;
    background-color: #0a1e33;
    border-top: solid 2px #ffffff;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    .category {
      height: 100%;
      flex-basis: 100%;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;

      h1 {
        font-size: 40px;
      }

      .bet {
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 75%;
      }
    }

    .historical {
      width: 30%;
      text-align: center;
      overflow-y: scroll;
      scroll-behavior: smooth;
      max-height: 120px;

      scrollbar-color: rgba(0, 0, 0, 0.199) transparent;
      scrollbar-width: thin;

      p {
        font-size: 30px;
        font-weight: bold;
        margin: 0;
      }

      &::-webkit-scrollbar {
        width: 8px;
        background-color: transparent;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.199);
        background-color: transparent;
      }

      &::-webkit-scrollbar-track {
        margin: 10px 0;
      }
    }

    .separation {
      background-color: #ffffff;
      height: 150px;
      width: 4px;
    }
  }
}
