<ng-container *ngIf="!user && isLoading">
  <div class="container-compte" [ngClass]="{'right-panel-active': rightPanelActive}">
    <div class="form-container sign-up-container">
        <form [formGroup]="inscriptionForm" class="form-compte">
            <h1 class="title-form-compte">Créer un compte</h1>
  
            <mat-form-field style="width: 100%;">
              <mat-label>Pseudo</mat-label>
              <input matInput formControlName="username">
              <mat-error *ngIf="inscriptionForm.get('username')?.hasError('required')">
                Pseudo requis
              </mat-error>
            </mat-form-field>
  
            <mat-form-field style="width: 100%;">
              <mat-label>Email</mat-label>
              <input type="email" matInput placeholder="Ex: example@example.example" formControlName="email">
              <mat-error *ngIf="inscriptionForm.get('email')?.hasError('required')">
                EMail requis
              </mat-error>
            </mat-form-field>
  
            <mat-form-field style="width: 100%;">
              <mat-label>Mot de Passe</mat-label>
              <input matInput type="password" formControlName="password">
              <mat-error *ngIf="inscriptionForm.get('password')?.hasError('required')">
                Mot de Passe requis
              </mat-error>
            </mat-form-field>

            <div class="alert-message" *ngIf="errorInscriptionForm">{{ errorInscriptionForm }}</div>

            <button class="button-compte button-submit" type="submit" (click)="inscription()">S'inscrire</button>
        </form>
    </div>
    <div class="form-container sign-in-container">
        <form [formGroup]="signinForm" class="form-compte">
            <h1 class="title-form-compte">Se connecter</h1>
  
            <mat-form-field style="width: 100%;">
              <mat-label>Email</mat-label>
              <input type="email" matInput placeholder="Ex: example@example.example" formControlName="email">
              <mat-error *ngIf="signinForm.get('email')?.hasError('required')">
                Email requis
              </mat-error>
            </mat-form-field>
  
            <mat-form-field style="width: 100%;">
              <mat-label>Mot de Passe</mat-label>
              <input matInput type="password" formControlName="password">
              <mat-error *ngIf="signinForm.get('password')?.hasError('required')">
                Mot de Passe requis
              </mat-error>
            </mat-form-field>

            <div class="alert-message" *ngIf="errorSigninForm">{{ errorSigninForm }}</div>
  
            <button class="button-compte button-submit" type="submit" (click)="signin()">Connexion</button>
        </form>
    </div>
    <div class="overlay-container-compte">
        <div class="overlay-compte">
            <div class="overlay-panel-compte overlay-left">
                <h1 class="title-details-compte">Content de te revoir !</h1>
                <p class="text-form-compte">Pour rester connecté avec nous, veuillez vous connecter avec vos informations personnelles.</p>
                <button class="button-compte ghost" (click)="rightPanelActive = false">Se connecter</button>
            </div>
            <div class="overlay-panel-compte overlay-right">
                <h1 class="title-details-compte">Salut l'ami !</h1>
                <p class="text-form-compte">Entrez vos données personnelles et commencez à jouer avec nous.</p>
                <button class="button-compte ghost" (click)="rightPanelActive = true">S'inscrire</button>
            </div>
        </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="user && isLoading">
  <div class="container-login">
    <div class="flex-login">
      <img class="image-login" src="/assets/images/icon_login.png">
      <fa-icon (click)="logout()" class="logout" [icon]="logoutIcon"></fa-icon>
      <div class="container-info">
        <div class="pseudo">{{ user.username }}</div>
        <div class="flex-chips">
          <div>{{ user.chips }}</div>
          <img src="/assets/images/coin.png">
        </div>
      </div>
    </div>
  </div>
</ng-container>