.container-compte {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
  animation: fadeIn 0.2s forwards;

  &.right-panel-active {
    .sign-in-container {
      transform: translateX(100%) !important;
    }

    .sign-up-container {
      transform: translateX(100%) !important;
      opacity: 1 !important;
      z-index: 5 !important;
      animation: show 0.6s !important;
    }

    .overlay-container-compte {
      transform: translateX(-100%) !important;

      .overlay-compte {
        transform: translateX(50%) !important;
      }
    }

    .overlay-left {
      transform: translateX(0) !important;
    }

    .overlay-right {
      transform: translateX(20%) !important;
    }
  }

  .form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;

    &.sign-in-container {
      left: 0;
      width: 50%;
      z-index: 2;
    }

    &.sign-up-container {
      left: 0;
      width: 50%;
      opacity: 0;
      z-index: 1;
    }

    .form-compte {
      background-color: #ffffff;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 10px;
      padding: 0 50px;
      height: 100%;
      text-align: center;

      .title-form-compte {
        font-weight: bold;
        font-size: 35px;
        margin-bottom: 20px;
        color: #000000;
      }

      .input-compte {
        background-color: #eee;
        border: none;
        padding: 12px 15px;
        margin: 8px 0;
        width: 100%;
      }

      .mat-error {
        font-size: 20px;
        font-family: 'Dongle', sans-serif !important;
      }

      .alert-message {
        font-weight: bold;
        color: #ff0000;
        font-size: 20px;
      }
    }
  }

  .overlay-container-compte {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;

    .overlay-compte {
      background: #405871;
      background: -webkit-linear-gradient(to right, #2b3a4b, #405871);
      background: linear-gradient(to right, #2b3a4b, #405871);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 0 0;
      color: #ffffff;
      position: relative;
      left: -100%;
      height: 100%;
      width: 200%;
      transform: translateX(0);
      transition: transform 0.6s ease-in-out;

      .overlay-panel-compte {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 40px;
        text-align: center;
        top: 0;
        height: 100%;
        width: 50%;
        transform: translateX(0);
        transition: transform 0.6s ease-in-out;

        &.overlay-left {
          transform: translateX(-20%);
        }

        &.overlay-right {
          right: 0;
          transform: translateX(0);
        }

        .title-details-compte {
          font-weight: bold;
          font-size: 35px;
          margin: 0;
          color: #ffffff;
        }

        .text-form-compte {
          font-size: 25px;
          line-height: 25px;
          margin: 20px 0 30px;
        }
      }
    }
  }
}

.container-login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Dongle', sans-serif !important;
  width: 600px;
  height: 500px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  animation: fadeIn 0.2s forwards;

  .flex-login {
    width: 600px;
    height: 500px;
    color: #000000;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .image-login {
      position: absolute;
      top: -170px;
      width: 300px;
    }

    .logout {
      cursor: pointer;
      position: absolute;
      bottom: -5px;
      right: 7px;
      font-size: 25px;
      color: #000000;
      transition: all 0.3s;

      &:hover {
        color: #ff0000;
      }
    }

    .container-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .pseudo {
        font-size: 60px;
        font-weight: bold;
      }

      .flex-chips {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-top: 30px;

        div {
          font-size: 40px;
          font-weight: bold;
        }

        img {
          width: 50px;
        }
      }
    }
  }
}

/*------------ANIMATION------------*/

@keyframes show {
  0%,
  49.99% {
    opacity: 0 !important;
    z-index: 1 !important;
  }

  50%,
  100% {
    opacity: 1 !important;
    z-index: 5 !important;
  }
}
