<div class="flex-accueil">
  <img class="logo-accueil" src="/assets/images/logo.png" alt="logo" />
  <div class="flex-container-accueil">
    <div class="take-off-accueil game-accueil">
      <div class="banner-game">
        <p routerLink="/take-off">> Take-Off</p>
      </div>
    </div>
    <div class="roulette-accueil game-accueil">
      <div class="banner-game">
        <p routerLink="/roulette">> Roulette</p>
      </div>
    </div>
    <div class="blackjack-accueil game-accueil">
      <div class="night">
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
      </div>
      <div class="container-cards">
        <img src="/assets/images/cartes/Hearts-King.png">
        <img src="/assets/images/cartes/Spades-Ace.png">
      </div>
      <div class="banner-game">
        <p routerLink="/blackjack">> BlackJack</p>
      </div>
    </div>
  </div>
</div>
