.flex-accueil {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-accueil {
  width: 500px;
  animation: 2.5s logo;
}

.flex-container-accueil {
  width: 70vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
  opacity: 0;
  animation: fadeIn-accueil 3.5s forwards;
}

.game-accueil {
  height: 300px;
  width: 300px;
  position: relative;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.banner-game {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  background-color: #0a1e33;
  transition: width 0.3s linear;
  overflow: hidden;
}

.banner-game p {
  margin: 0;
  padding: 20px 0 10px 20px;
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
  white-space: nowrap;
  transition: 0.3s;
  cursor: pointer;
}

.banner-game p:hover {
  color: #ffffffd7;
}

.take-off-accueil:hover > .banner-game {
  width: 100%;
}

.roulette-accueil:hover > .banner-game {
  width: 100%;
}

.blackjack-accueil:hover > .banner-game {
  width: 100%;
}

.banner-game:hover {
  width: 100%;
}

.take-off-accueil {
  background-image: url("/assets/images/rocket.gif");
  background-position: 55% 46%;
}

.roulette-accueil {
  background-image: url("/assets/images/carre-blanc-300x300.png");
  background-position: center;
}

.blackjack-accueil {
  background-color: #0a1e33;

  .night {
    transform: rotateZ(45deg) scale(0.5);
  }

  .container-cards {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;

    img {
      width: 100px;

      &:first-child {
        transform: rotate(356deg);
      }

      &:last-child {
        margin-left: -35px;
        z-index: 1;
      }
    }
  }
}

/*------------ANIMATION------------*/

@keyframes logo {
  0% {
    transform: scale(2) translateY(6vh);
  }
  10% {
    transform: scale(2) translateY(6vh);
  }
  40% {
    transform: scale(2.1) translateY(6vh);
  }
  100% {
    transform: scale(1) translateY(0);
  }
}

@keyframes fadeIn-accueil {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
