/*------------[IMPORTS]------------*/

@import "./assets/styles/button.scss";
@import "./assets/styles/input.scss";
@import "./assets/styles/night.scss";

/*------------[FONTS]------------*/

@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

/*------------[BODY]------------*/

* {
  box-sizing: border-box;
}

html {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
              supported by Chrome, Edge, Opera and Firefox */
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;

  font-family: 'Dongle', sans-serif !important;
  letter-spacing: 1px;
  color: #ffffff;
  overflow: hidden;

  background-image: url("/assets/images/space.gif");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container-chips {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .chips {
    font-size: 50px;
    font-weight: bold;
    margin: 0;
    margin-right: 10px;
  }

  .coin {
    margin-top: -5px;
    width: 50px;
    transform: rotate(4deg);
  }

  .add-chips {
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-100%);
    opacity: 0;
    animation: fadeIntoOut 3s forwards;
  }
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity .2s linear;
}

.hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s .2s, opacity .2s linear;
}

/*------------ANIMATION------------*/

@keyframes fadeIntoOut {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
