.button {
  background-color: #0a1e33;
  border: 2px solid #ffffff;
  color: #ffffff;
  padding: 7px 20px;
  border-radius: 30px;
  font-family: 'Dongle', sans-serif !important;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button:hover {
  background-color: #ffffff;
  color: #0a1e33;
}

.betButton {
  margin-top: 20px;

  &.hidden {
    visibility: hidden;
  }
}

.container {
  position: relative;
  width: 120px;
  height: 50px;
  border-radius: 40px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  background-color: #0a1e33;
  transition: 0.5s;

  &:hover {
    width: 180px;
    border: 2px solid rgba(255, 255, 255, 1);

    .prev {
      opacity: 1;
      left: 20px;
    }
    
    .next {
      opacity: 1;
      right: 20px;
    }
  }

  .prev {
    position: absolute;
    top: 50%;
    left: 30%;
    display: block;
    width: 12px;
    height: 12px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    z-index: 1;
    transform: translateY(-50%) rotate(315deg);
    cursor: pointer;
    opacity: 0;
    transition: 0.5s;
  }

  .next {
    position: absolute;
    top: 50%;
    right: 30%;
    display: block;
    width: 12px;
    height: 12px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    z-index: 1;
    transform: translateY(-50%) rotate(135deg);
    cursor: pointer;
    opacity: 0;
    transition: 0.5s;
  }

  .nbBet {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #ffffff;
    background-color: transparent;
    border: none;
    font-size: 40px;
    font-family: 'Dongle', sans-serif !important;
    font-weight: bold;
    letter-spacing: 1px;
    user-select: none;
    outline: none;
  }
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.button-compte {
  border-radius: 20px;
  border: 2px solid #405871;
  background-color: #405871;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  padding: 5px 45px;
  letter-spacing: 3px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  font-family: 'Dongle', sans-serif !important;
}

.button-compte:active {
  transform: scale(0.95);
}

.button-compte:focus {
  outline: none;
}

.button-compte.ghost {
  background-color: transparent;
  border-color: #ffffff;
  transition: 0.3s;
}

.button-compte.ghost:hover {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #405871;
}

.button-compte.button-submit {
  margin-top: 20px;
  transition: 0.3s;
}

.button-submit:hover {
  background-color: #ffffff;
  border-color: #405871;
  color: #405871;
}
