.mat-form-field-appearance-legacy .mat-form-field-label {
  mat-label {
    font-family: 'Dongle', sans-serif !important;
    font-size: 25px !important;
    color: #405871 !important;
  }
}

.mat-form-field-underline {
  background-color: #405871 !important;
}

.mat-form-field-ripple {
  background-color: #405871 !important;
}

input.mat-input-element {
  font-size: 25px !important;
  color: #000000 !important;
  font-family: 'Dongle', sans-serif !important;
}
